.wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh; /* chiếm toàn màn hình */
  position: relative;
  padding-top: 70px;
  /* width: 80%;
  margin: 0 auto; */
}

/* Popup form */
.paper {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.95); /* nền trắng mờ */
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.title {
  font-weight: bold;
}
@media (max-width: 600px) {
  .wrapper{
    width: 100%;
    margin: 0 auto;
  }
}