.addressBox{
    margin-top: 100px;
}
.orderCard {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    gap: 20px;
  }
  
  .orderInfo {
    width: 60%;
    height: auto;
    float: left;
    display: flex;
    gap: 15px;
  }
  
  .orderInfo img {
    width: 20%;
    height: 85%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .orderText {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .orderActions {
    width: 40%;
    height: auto;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: end;
    justify-content: end;
    gap: 10px;
  }
  
  .status {
    color: green;
    font-weight: bold;
  }
  
  .total {
    font-weight: bold;
    color: #000;
  }
  
  .detailBtn {
    padding: 6px 12px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .actions button {
    margin-left: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }