.container {
  height: 615px;
  background-color: rgb(242 245 249);
  width: 100vw;
  margin-bottom: 10px;
  transform: translateX(-50%);
  left: 50%;
  top: 90px !important;
  position: fixed;
  max-width: 640px;
}
.title{
    border-color: rgb(228 233 242);
    border-bottom-width: 1px;
    margin-bottom: .5rem;
    padding: .625rem;
    background-color: rgb(255 255 255);
    position: relative;
}
.items__center{
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 2.5rem;
    height: 1.25rem;
    left: 1rem;
}
.title__text{
  font-size: 15px;  
    font-weight: 600;
    color: rgb(51 51 51);
    margin-left: 1.5rem;
    text-align: center;
    display: block;
}
.form__group{
  width: 100%;
  padding: 16px 25px;
  background-color: rgb(255 255 255);
  overflow: auto;
  height: 100px;
  position: relative;
  margin: 10px auto;
}
.info{
  width: 68%;
  height: 30px;
  float: left;
}
.radio {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #4CAF50;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  margin: -3px 6px;
}
.radio:checked::before {
  content: "";
  position: absolute;
  top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
  background-color: #4CAF50;
  border-radius: 50%;
}
.info label{
  font-weight: bold;
  font-size: 16px;
}
.add{
  margin-left: 30px;
  margin-top: 5px;
}
.change{
  width: 32%;
  float: right;
  display: flex;
  justify-content: space-between;
}
.change button{
  border: none;
  padding: 3px 15px;
  border-radius: 10px;
  background-color: rgb(101, 241, 101);
}
.change button:hover{
  background-color: rgb(247, 49, 49);
  color: white;
}
.a{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 3px 8px;
  margin-top: 10px;
}
.a:hover{
  background-color: green;
  color: rgb(255, 255, 255);
}
.role{
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: white;
}
.role button{
  width: 90%;
  height: 40px;
  align-items: center;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 30px;
}
@media (max-width: 400px){
  .info label{
    font-size: 14px;
  }
}