.title{
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
    color:#218838;
}

.table{
    width:100%;
    border-collapse:collapse;
}

.table th{
    background:#218838;
    color:white;
    padding:12px;
}

.table td{
    padding:10px;
    border:1px solid #ddd;
}

.table tr:nth-child(even){
    background:#f6f6f6;
}

.table tr:hover{
    background:#e8f5ec;
}
.pagination{
    margin-top:20px;
    gap: 10px;
    display:flex;
    justify-content:center;
}
.pageNumber{
    padding:8px 12px;
    background-color: white;
    border:1px solid #218838;
    border-radius:4px;
    cursor:pointer;
}
.pageButton{
    background-color: #218838;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}
.approveBtn{
    background:#218838;
    color:white;
    border:none;
    padding:6px 12px;
    border-radius:6px;
    cursor:pointer;
}

.approveBtn:hover{
    background:#1e7e34;
}