.searchContainer {
  width: 60%;
  margin-left: 230px;
  position: relative;
  justify-items: anchor-center;
}
.search {
  width: 95%;
}
.cartInside {
  position: absolute;
  right: 10%;
  top: 58%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}
.cartIcon {
  color: rgb(19 17 51);
  font-size: 20px;
}
.cartBadge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
}
.search input {
  width: 200%;
  height: 38px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #2ecc71;
}

.popUpHeader {
  top: 60px;
  position: fixed;
  background-color: #fff;
  max-height: 50%;
  width: 26%;
  padding: 10px;
  border-radius: 15px;
  overflow-y: auto;
  z-index: 100;
}
.listProduct {
  width: 100%;
  margin: 10px 1px;
}
.imgProduct {
  width: 100%;
  display: flex;
  border-bottom: 1px solid;
  padding: 5px 0px;
}
.imgProduct .listImg {
  width: 35%;
}
.imgProduct .listImg img {
  width: 65%;
  height: auto;
}
.content {
  width: 65%;
  float: right;
  padding-right: 10px;
}
.content h3 {
  font-size: 16px;
}
.content strong {
  color: red;
}
.popUpHeader::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.NumberPopUp {
  position: absolute;
  border-radius: 50%;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center;
  top: 0;
  left: 88%;
  display: none;
}
.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 10px;
  font-size: 24px;
  color: #888;
  pointer-events: none;
}

.inputWithIcon input {
  padding-left: 40px; /* đẩy text sang phải để tránh đè icon */
}
@media (max-width: 993px) {
  .searchContainer{
    margin-left: 155px;
  }
}
@media (max-width: 768px) {
  .searchContainer{
    margin-left: 0px;
  }
  .search input{
    width: 100%;
    height: 32px;
  }
  .searchContainer {
    width: 90% !important;
    justify-items: left;
  }
  .cartInside{
    display: block;
  }
  .NumberPopUp{
    display: block;
  }
  .popUpHeader {
    width: 65%;
  }
  .cartInside {
    display: block;
  }
  .NumberPopUp {
    display: block;
  }
}
