.wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 90vh; /* chiếm toàn màn hình */
  position: relative;
  padding-top: 20px;
  /* width: 80%;
  margin: 0 auto; */
}

/* Popup form */
.paper {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.95); /* nền trắng mờ */
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.title {
  font-weight: bold;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.sparkleBtn {
  position: relative !important;
  overflow: hidden !important;
}
.aa{
  font-weight: 500;
}
/* Tạo luồng sáng quét qua */
.sparkleBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  
  /* SỬA DÒNG NÀY: Tăng từ 3s lên 5s để chạy chậm hơn */
  animation: shine 5s infinite; 
  
  pointer-events: none;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  20% {
    left: 100%; /* Chạy nhanh qua nút */
  }
  100% {
    left: 100%; /* Thời gian nghỉ chờ lặp lại */
  }
}
@media (max-width: 600px) {
  .wrapper{
    width: 100%;
    margin: 0 auto;
    background-image: url('/public/bgin.png') !important;
  }
}