.form__group{
    width: 100%;
    padding: 16px 25px;
    background-color: rgb(255 255 255);
    overflow: auto;
    height: 100px;
    position: relative;
    margin: 10px auto;
  }
  .info{
    width: 68%;
    height: 30px;
    float: left;
  }
  .radio {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    margin: -3px 6px;
  }
  .radio:checked::before {
    content: "";
    position: absolute;
    top: 3px;
      left: 3px;
      width: 9px;
      height: 9px;
    background-color: #4CAF50;
    border-radius: 50%;
  }
  .info label{
    font-size: 16px;
  }

  .change{
    width: 32%;
    float: right;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
  }
  .change button{
    border: none;
    padding: 3px 15px;
    border-radius: 10px;
    background-color: rgb(101, 241, 101);
  }
  .change button:hover{
    background-color: rgb(247, 49, 49);
    color: white;
  }

  .add{
    margin-left: 30px;
    margin-top: 5px;
    color: rgb(81 87 100);
    font-weight: 700;
    font-size: 13px;
    width: 60%;
  }

  @media (max-width: 400px){
    .info label{
      font-size: 14px;
    }
  }