.foot{
    position: relative;
    z-index: 1000;
    width: 80%;
    height: 55vh;
    margin: 0 auto;
}
.container{
    padding: 10px;
}
.list_unstyled{
    padding: 0;
    display: block ;
}
.list_unstyled li{
    padding: 5px 0px;
}
.list_unstyled li a{
    color: black;
}
.partnerList{
    display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  margin-top: 10px;
}
.partnerItem{
    width: 40px;
  height: auto;
  object-fit: contain;
}   