*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.def{
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.infomation{
    width: 30%;
    height: 55%;
    display: grid;
}
.order{
    margin-top: 100px;
    border: none;
    border-radius: 5px;
}
.order:hover{
    background-color: rgb(116, 228, 116);
}
.order:active{
    background-color: rgb(116, 228, 116);
}
.ifm{
    margin-top: 3px;
    border: none;
    border-radius: 5px;
}
.ifm:hover{
    background-color: rgb(116, 228, 116);
}
.ifm:active{
    background-color: rgb(116, 228, 116);
}
.logout{
    margin-top: 20px;
    border-radius: 5px;
}
.logout:hover{
    background-color: rgb(236, 87, 87);
    color: white;
}
.point{
    margin-top: 20px;
    border-radius: 5px;
}
.customer{
    width: 70%;
    height: 23%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Đẩy nội dung lên trên */
    align-items: flex-start; /* Căn trái nội dung */
    padding: 20px;
    background: white;
    border-radius: 10px;
}
.orderadd{
}
