

.customer{
    width: 70%;
    height: 23%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Đẩy nội dung lên trên */
    align-items: flex-start; /* Căn trái nội dung */
    padding: 20px;
    background: white;
    border-radius: 10px;
}
.orderadd{
}
