.wrapper {
  position: relative;
}
.container {
    background-color: aliceblue;
    position: fixed;
    width: 19%;
    z-index: 100;
    margin-top: 10px;
  }
  .banner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 1%;
  }
  .banner img {
    width: 100%;
    height: 100%;
  }
  .icons {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    justify-content: space-between;
  }
  .containerTypeProduct {
    justify-content: center;
    background-color: rgb(240 255 243);
  }
  .img {
    position: relative;
    border-radius: 30px;
  }
  .button {
    height: 5vh;
  }
  .button button {
    height: 100%;
    width: 100%;
    background: #00572D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    
  }
  .typeProduct {
    padding: 12px 0;
    border-top-width: 1px;
    margin: 0 12px;
    border-bottom: solid 1px #e0e0e0;
    color: rgb(0 126 66);
  }
  .icon{
    display: none;
  }
  @media (max-width: 769px) {
    .container {
      width: 100%;
      z-index: 100;
      top: 62px;
      left: 0;
      right: 0;
      margin-top: 0px;
    }
  
    .button {
      width: 100%;
    }
    .containerTypeProduct {
      flex-wrap: wrap;
      justify-content: center;
      background-color: #f0fff3;
    }
  
    .typeProduct {
      margin: 0 8px;
      padding: 8px;
      font-size: 14px;
      border: none;
      border-bottom: 1px solid #dcdcdc;
    }
    .show {
      display: flex;
      flex-direction: column;
      animation: slideDown 0.3s ease forwards;
    }
    
    .hide {
      display: none;
    }
    
    @keyframes slideDown {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  @media (max-width: 769px){
    /* .containerTypeProduct{
      display: none;
    } */
    .icon {
      display: inline-block;
      height: 30px;
      width: 30px;

      margin: -5px 1px;
    }
  }
  @media (min-width: 769px) and (max-width: 992px){
    .container{
      width: 18%;
    }
    .button button{
      font-size: 13.5px;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); /* nền mờ đen nhẹ */
    z-index: 99;
  }
@media (width: 768px){
  .button button{
    margin-top: 22px;
  }
}