
.container{
    background-color: aliceblue;
    position: fixed;
    width: 265px;
}
.banner{
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 1%;
}
.banner img{
    width: 100%;
    height: 100%;
}
.icons{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    justify-content: space-between;
}
.containerTypeProduct{
    justify-content: center;
    background-color: rgb(240 255 243);
}
.img{
    position: relative;
    border-radius: 30px;
}
.button{
    height: 5vh;
}
.button button{
    height: 100%;
    width: 100%;
    background-color: rgb(98 244 175);
    color: #1B1B1B;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
}
.typeProduct{
    padding: 12px 0;
    border-top-width: 1px;
    margin: 0 12px;
    border-bottom: solid 1px #e0e0e0;
    color: rgb(0 126 66);
}
