*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.container{
    width: 100%;
    margin-top: 1%;
}
ul{
    display: flex;
    margin-top: 2%;
}
li{
    padding: 12px;
    list-style-type: none;
}
a.active{
    color: #ff9900 ;
}
a{
    text-decoration: none !important;
    color: rgb(24, 68, 21);
}
.logo{
    width: 5%;
    height: 5%;
}